@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.bd-container{
    margin: 0 10rem;
}

.btn{
    background: lightblue;
    border-radius: 30px;
    font-weight: 500;
    height: 25px;
    border-color: #000;
    padding: 0 0.5rem;
}

.form{
    text-align: center;
    border:dashed 1px rgb(0, 140, 255); 
    padding: 10px;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.imagen{
    text-align: center;
    border: solid 2px;
    margin-left: 400px;
    margin-right: 400px;
    padding: 10px;
}
